<nav>
  <div class="nav-wrapper green">
    <a routerLink="" class="brand-logo"><img src="../assets/images/logo-loopstock.png" border="0"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="" class="green">Dashboard</a></li> 
      <li><a routerLink="/products" class="green">Produtos</a></li>   
      <li><a routerLink="/registerProduct" class="green">Criar Produto</a></li>     
      <li><a routerLink="/login" class="green">Login</a></li>
      <li><a (click)="logout()" class="green">Logout</a></li>
      <li><a routerLink="/register" class="green">Criar Usuário</a></li>
    </ul>
  </div>
</nav>
