<div class="valign-wrapper row login-box">
  <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
   
      <div class="card-content">
        <span class="card-title">Login</span>
        <div class="row">
          <div class="input-field col s12">
            <label for="email">E-mail</label>
            <input [(ngModel)]="user.name" type="email" class="validate" name="email" id="email" />
          </div>
          <div class="input-field col s12">
            <label for="password">Senha </label>
            <input [(ngModel)]="user.password" type="password" class="validate" name="password" id="password" />
          </div>
        </div>
      </div>
      <div class="card-action right-align">
        <input routerLink="/forgot" type="reset" id="reset" class="btn-flat grey-text waves-effect" value="Esqueceu a senha?">
        <input type="submit" class="btn green waves-effect waves-light" value="Entrar" (click)="login()">
      </div>

  </div>
</div>