<table class="striped highlight">
  <thead>
    <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.title}}</td>
      <td>{{product.description}}</td>
      <td><a (click)="editProductPage(product)"><i class="material-icons">mode_edit</i></a></td>
      <td><a (click)="deleteProduct(product)"><i class="material-icons">delete</i></a></td>
    </tr>
  
   
    
  </tbody>
</table>